<div class="relative overflow-x-auto m-14 rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    # Reserva
                </th>
                <th scope="col" class="px-6 py-3">
                    Clase
                </th>
                <th scope="col" class="px-6 py-3">
                    Cliente
                </th>
                <th scope="col" class="px-6 py-3">
                    Hotel
                </th>
                <th scope="col" class="px-6 py-3">
                    Sucursal
                </th>
                <th scope="col" class="px-6 py-3">
                    Vuelo
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of reservas" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    # {{r.idreserva}}
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{r.clase}}
                </th>
                <td class="px-6 py-4">
                    {{r.idcliente?.nombres}} {{r.idcliente?.apellidos}}
                </td>
                <td class="px-6 py-4">
                    {{r.idhotel?.nombre}}
                </td>
                <td class="px-6 py-4">
                    {{r.idsucursal?.localidad}} - {{r.idsucursal?.provincia}}
                </td>
                <td class="px-6 py-4">
                    {{r.idvuelo?.origen}} - {{r.idvuelo?.destino}}
                </td>
            </tr>
        </tbody>
    </table>
</div>